html {
    display: block;
	height:100%;
}
body { font-family:arial; background:#eaf9fc; padding:0px; margin:0px; height: 100%;}
input, select, textarea
	{
		font-size:1em;
		margin:3px;
	}
input.bold_text
	{
		font-weight: bold;
	}
input.sml_btn
	{
		background-image: url(../Images/btn_all_hover_60.png);
		text-align: center;
		font-size:.9em;
		border:none;
		color:#fff;
		width: 60px;
		height: 26px;
	}
input.sml_btn:hover
	{
		background-image: url(../Images/btn_all_60.png);
		font-weight:bold;
	}
input.save_booking
	{
		background-image: url(../Images/save.png);
		font-size:0px;
		margin-top:0px;
		width: 50px;
		height: 50px;
		border: none;
	}
input.estimate_fare
	{
		background-image: url(../Images/estimate_fare.png);
		font-size:0px;
		margin-top:0px;
		width: 50px;
		height: 50px;
		border: none;
	}
.estimate_fare_textbox {width: 400px; height: 25px}

input.cancel_booking
	{
		background-image: url(../Images/cancel.png);
		font-size:0px;
		margin-top:0px;
		width: 50px;
		height: 50px;
		border: none;
	}
input.relate_booking
	{
		background-image: url(../Images/relate.png);
		font-size:0px;
		margin-top:0px;
		width: 50px;
		height: 50px;
		border: none;
	}
input.clone_booking
	{
		background-image: url(../Images/clone.png);
		font-size:0px;
		margin-top:0px;
		width: 50px;
		height: 50px;
		border: none;
	}
input.delete_booking
	{
		background-image: url(../Images/delete_1.png);
		font-size:0px;
		margin-top:0px;
		width: 50px;
		height: 50px;
		border: none;
	}
input.log_booking
	{
		background-image: url(../Images/log_1.png);
		font-size:0px;
		margin-top:0px;
		width: 50px;
		height: 50px;
		border: none;
	}
input.readonly
	{
		background:#e7e5ff;
	}
input.bold
	{
		font-weight:bold;
	}
input.large
	{
		font-size:1.2em;
	}
input.large_bold
	{
		font-size:1.1em;
		font-weight:bold;
	}
.error {color:red; font-weight:bold; text-decoration:italic; font-size: 1.1em;}
.small_red {color:red; font-weight:bold; font-size: .9em;}
.success {color:green; font-weight:bold; text-decoration:italic; font-size: .9em; padding: 3px; border-radius:2px;}
.status_red {background:red ; color:#ffffff; font-weight:bold; font-size: .9em; padding: 3px; border-radius:2px;}
.status_blue {background:blue ; color:#ffffff; font-weight:bold; font-size: .9em; padding: 3px; border-radius:2px;}
.status_green {background:green ; color:#ffffff; font-weight:bold; font-size: .9em; padding: 3px; border-radius:2px;}
.status_purple {background:#c611d6 ; color:#ffffff; font-weight:bold; font-size: .9em; padding: 3px; border-radius:2px;}
.status_yellow {background:yellow ; color:#ffffff; font-weight:bold; font-size: .9em; padding: 3px; border-radius:2px;}
.status_orange {background:#FFA500 ; color:#ffffff; font-weight:bold; font-size: .9em; padding: 3px; border-radius:2px;}
.status_strikeout {background:black ; color:#ffffff;text-decoration:line-through; font-size: .9em; padding: 3px; border-radius:2px;}
.astrix {color:red; font-weight:bold; font-size: 2.0em;}
.my_button {background:red ; color:#ffffff; font-weight:bold; font-size: .9em; padding: 2px 2px 2px 2px;}
.my_cancel_button {background:red ; color:#ffffff; font-weight:bold; font-size: .8em; padding: 2px 2px 2px 2px;}
.background_100_percent{background-size:100%; padding: 2px 25px 0px 10px; background-color: #d5d2fc; font-weight:bold; font-size: 1.1em;}

#log_background_1{background-size:250px; padding: 2px 25px 0px 10px; background-color: #d5d2fc; font-weight:bold; font-size: 1.1em;}
#log_background_2{background-size:250px; padding: 2px 25px 0px 15px; background-color: #d5d2fc; font-weight:bold; font-size: 1.1em;}
#log_background_3{background-size:250px; padding: 2px 25px 0px 15px; background-color: #8be696; text-decoration:italic; font-weight:bold; font-size: 0.9em;}
table {padding:0px; margin:0px;}
table.white	{background:#ffffff;} /*Back ground color for return booking*/
#text_blue {font-weight:bold; color:#5f45e5;}
#sub_table {border:2px solid #65d20d; border-collapse:collapse;}
#sub_table th{background:#000;}
#sub_table td{background:#eaf9fc;}

#bkg_table			{border-collapse: collapse; border: 1px solid #0c9393;background:#eaf9fc;}
#bkg_table th		{background: #cccccc;font-size:14px;color: #fff;text-align:left; padding: 5px 5px 5px 5px;}
#bkg_table td		{font-size:13px; padding: 0px 0px 0px 0px; color: #000;text-align:left;}

#log_table			{border-collapse: collapse; border: 1px solid #0f4853; background:#eaf9fc;}
#log_table th		{background: #09d4fc;font-size:12px;color: #000;text-align:left; padding: 5px 5px 5px 5px; border: 1px solid #0f4853;}
#log_table td		{font-size:10px; padding: 2px 5px 2px 5px; color: #000;text-align:left; border: 1px solid #0f4853;}
#log_table td.align_right		{text-align:right;}

#login_table		{border-collapse: collapse; border: 1px solid #0c9393;background:#eaf9fc; margin:10px;}
#login_table th		{background: #cccccc;font-size:18px;color: #fff;text-align:left; padding: 5px 5px 5px 5px;}
#login_table td		{font-size:13px; padding: 5px 5px 5px 5px; color: #000;text-align:left;}

#settings_table			{border-collapse: collapse; border: 1px solid #0c9393;background:#eaf9fc;}
#settings_table th		{background: #cccccc;font-size:14px;color: #fff;text-align:left; padding: 5px 5px 5px 5px;border: 1px solid #0c9393;}
#settings_table td		{font-size:13px; padding: 5px 5px 5px 5px; color: #000;text-align:left;border: 1px solid #0c9393;}

#dialog_table		{border-collapse: collapse; border: 1px solid #0c9393;}
#dialog_table th		{background: #000;color: #fff;text-align:left;border: 1px solid #0c9393; padding: 5px 5px 5px 5px;}
#dialog_table td		{border: 1px dotted #0c9393;}

.jtable_specific_row {background:  blue !important;}

.outer_box{
	border:1px solid #909090;
	width:500px;
	
}
.outer_inner_box{
	padding:20px;
}
.footer_div{
	width:100%;
	background:#909090;
	text-align:center;
}
input.big_btn
	{
		background: #457FB9;
		text-align: center;
		font-size:.9em;
		border:none;
		color:#fff;
		width: 160px;
		height: 26px;
	}
input.big_btn:hover
	{
		background: #05A7E0;
		font-weight:bold;
	}
	
.mst_contain
{
	padding:5px;
}

.mst_contain label
{
	width:110px;
	display: inline-block;
	font-size:10;
	font-weight:bold;
	
}
.mst_contain input[type=text]
{
	width:120px;
}

.swt_head
{
	padding:5px;
}

.swt_head label, .swt_head span
{
	width:110px;
	display: inline-block;
	font-size:10;
	font-weight:bold;
	
}

.swt_row
{
	padding:5px;
}

.swt_row label, .swt_row span
{
	width:110px;
	display: inline-block;
	font-size:10;
	
	
}

#invoiceTable				{border-collapse: collapse; border: 1px solid #0094ff; margin: 0px; }
#invoiceTable th			{font-family: Arial; font-size:12px;  color: #ffffff; background: #0094ff; border: 1px solid #0094ff;  text-align:left; padding: 3px 1px 3px 10px;}
#invoiceTable th.left		{border-left: 1px solid #0094ff;}
#invoiceTable th.right		{border-right: 1px solid #0094ff;}
#invoiceTable td			{font-family: arial; font-size:10px; border: 1px solid #0094ff; padding: 1px 1px 1px 5px; color: #000;text-align:left;}
#invoiceTable td.large_font	{font-size:13px; font-weight:bold;}

.invoiceTable				{border-collapse: collapse; border: 1px solid #0094ff; margin: 0px; }
.invoiceTable th			{font-family: Arial; font-size:13px;  color: #ffffff; background: #3f3992; border: 1px solid #aaa9bf;  text-align:left; padding: 5px 5px 5px 5px;}
.invoiceTable th.left		{border-left: 1px solid #0094ff;}
.invoiceTable th.right		{border-right: 1px solid #0094ff;}
.invoiceTable td			{font-family: arial; font-size:12px; border: 1px solid #0094ff; padding: 5px 5px 5px 5px; color: #000;text-align:left;}
.invoiceTable td.large_font	{font-size:13px; font-weight:bold;}

#fareEstimatorTable				{border-collapse: collapse; border: 1px solid #322906; margin: 0px; }
#fareEstimatorTable th			{font-family: Arial; font-size:16px;  color: #ffffff; background: #e7b807; border: 1px solid #322906; padding: 5px 5px 5px 10px;}
#fareEstimatorTable th.left		{text-align:left;}
#fareEstimatorTable th.right	{text-align:right;}
#fareEstimatorTable td			{font-family: arial; font-size:15px; border: 1px solid #322906; padding: 5px 5px 5px 10px; color: #000;}
#fareEstimatorTable td.left		{text-align:left;}
#fareEstimatorTable td.right	{text-align:right;}

#box {border:1px solid #0094ff; border-radius: 10px;margin: 0px; padding: 40px;}
#heading
	{
		font-size: 14px;
		font-weight:bold;
		color: #336699;
		border-bottom: 10px solid #0094ff;
		padding: 12px 0px 0px 0px;
	}
.loading {
	width:100px;
	height:100px;
}

.clr {
	clear:both;
}

.approve_button
	{
		border:1px solid #ffc826; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
		background-color: #ffd65e; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
		background-image: -webkit-linear-gradient(top, #ffd65e, #febf04);
		background-image: -moz-linear-gradient(top, #ffd65e, #febf04);
		background-image: -ms-linear-gradient(top, #ffd65e, #febf04);
		background-image: -o-linear-gradient(top, #ffd65e, #febf04);
		background-image: linear-gradient(to bottom, #ffd65e, #febf04);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffd65e, endColorstr=#febf04);
		margin:5px;
	}

.approve_button:hover
	{
		border:1px solid #f7b800;
		background-color: #ffc92b; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc92b), to(#ce9a01));
		background-image: -webkit-linear-gradient(top, #ffc92b, #ce9a01);
		background-image: -moz-linear-gradient(top, #ffc92b, #ce9a01);
		background-image: -ms-linear-gradient(top, #ffc92b, #ce9a01);
		background-image: -o-linear-gradient(top, #ffc92b, #ce9a01);
		background-image: linear-gradient(to bottom, #ffc92b, #ce9a01);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc92b, endColorstr=#ce9a01);
		margin:5px;
	}

.decline_button
	{
		border:1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
		background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
		background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
		background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
		background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
		background-image: -o-linear-gradient(top, #f62b2b, #d20202);
		background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
		margin:5px;
	}

.decline_button:hover
	{
		border:1px solid #b30808;
		background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
		background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
		background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
		background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
		background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
		background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
		margin:5px;
	}	

.cancel_button
	{
		border:1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
		background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
		background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
		background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
		background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
		background-image: -o-linear-gradient(top, #f62b2b, #d20202);
		background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
		margin:5px;
	}

.cancel_button:hover
	{
		border:1px solid #b30808;
		background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
		background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
		background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
		background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
		background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
		background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
		margin:5px;
	}
#my-div {
    height:100vh; /*vh stands for view-port height, 1vh is 1% of screen height*/
}